@font-face {
  font-family: "Pokemon Solid";
  src: url("../assets/fonts/Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  height: 100%;
}
